*
{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;

}

body
{
    background-color: black;
}

.form
{
    width: 372px;
    background: linear-gradient(to bottom, #FCFDFE, #DDE2EE);
    font: 13px Tahoma;
    color: #1D2A5B;
    margin-left: 400px;
    margin-top: 50px;
    padding-right: 13px;
    padding-left: 4px;
}

.headline
{
    font-size: 19px;
    color: #0E385F;
    padding-left: 8px;
    padding-top: 6px;
}

.sub_headline
{
    border-bottom: 1px solid #9AAFCA;
    font-size: 14px;
    margin-bottom: 13px;
    margin-top: 5px;
    padding-left: 9px;
    padding-bottom: 11px;    
}

.info_block
{
    text-align: right;
    color: #0E385F;
    margin-bottom: 4px;
}

.text_area
{
    width: 262px;
    height: 31px;
    border: 1px solid #96A6C5;
}

.month_text
{
    width: 76px;
    height: 30px;
    border: 1px solid #96A6C5;
    padding-left: 3px;
    margin-right: -2px;
}

.day_text
{
    width: 62px;
    height: 30px;
    border: 1px solid #96A6C5;
    padding-left: 4px;
}

.year_text
{
    width: 67px;
    height: 30px;
    margin-right: 53px;
    border: 1px solid #96A6C5;
    padding-left: 3px;
}

.sex_text
{
    width: 101px;
    height: 30px;
    margin-right: 162px;
    border: 1px solid #96A6C5;
    padding-left: 3px;
}

.end_line
{
    font-size: 11px;
    margin-left: 109px;
    margin-top: 2px;
}

.button
{
    margin-top: 8px;
    margin-left: 109px;
}

.ask_form_header
{
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #96A6C5;
}